.newTaskForm {
    
    display: flex;
    justify-content: space-evenly;
    margin: 0 1rem;
}

.newTaskForm input {
    background-color: ghostwhite;
    border: unset;
    border-bottom: 2px solid rgb(228, 222, 222);
    width: 60%;
}

.newTaskForm button {
    background-color: brown;
    border: unset;
    border-radius: 25px;
    color: ghostwhite;
    font-size: 0.9rem;
    height: 2rem;

}